/*
* @Author: dingxijin
* @Date:   2016-03-24 12:27:30
* @Last Modified by:   CJ Ting
* @Last Modified time: 2016-03-31 18:55:05
*/

@import "vendors/normalize.css"
@require "colors"

html
  font-size: 14px
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑" , SimSun, "宋体", Heiti, "黑体", sans-serif

body
  background: #E8E9EC
  font-size: 100%

.app
  width: 1000px
  margin: 50px auto

.app__tab
  padding: 10px 0
  text-align: right
  color: $gray
  > span
    cursor: pointer

.app__tab__current
  color: $main



